Today free tech e-book from Packt Publishing is

<h1 id="title">{{.Title}}</h1>

<div id="description">
{{range .Description}}
    <p>{{.}}</p>
{{end}}    
</div>

<img id="cover" src="https:{{.Img}}" alt="Cover for {{.Title}}" />

<p>Free until <time>{{formatTime .EndTime}}</time></p>